body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-image: url("background_ufficiale.png");
    color: white;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_container {
    display: flex;
    align-items: center;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.titolo {
    font-family: 'Brush Script MT', cursive;
    font-size: 32px;
    margin: 0;
}

.titolo:hover {
    text-decoration: underline;
    cursor: pointer;
}

.user-info {
    font-size: 14px;
}

.logo img {
    height: max-content;
}

.logout {
    background-color: #f0a500;
    padding: 8px 15px;
    border: orangered;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 2.5cm;
}


main {
    padding: 20px;
}

h2 {
    color: #002147;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

table th, table td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.back {
    background-color: #d3d3d3;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}

.footer {
    color: #777;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}